.App {
  height: 100vh;
  width: 100vw;
  background-color: #686363;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
  
    > h1 {
      width: 3000px;
    }
  }
}

